.nav-bar {
  /* background-color: #6A83AC; */
  background: #23424a;
  display: flex;
  justify-content: start;
  width: 100%;
  color: white;
  position: sticky;
  z-index: 999;
}

#img-logo {
  width: 80px;
  height: 64px;
  padding: 1rem 4rem;

  margin-top: 1em;
}

.nav-links {
  margin-left: auto;
  display: flex;
  list-style: none;
}

.nav-links li {
  padding: 1em 1vw 1vw 0.1em;
  font-size: 2rem;
  text-decoration: none;
}
a {
  padding: 5px 10px;
  color: white;
}

.nav-links a:hover {
  background-color: #6A83AC;
}
@media screen and (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    font-size: 1vmin;
    padding-right: 5px;
    padding-left: 0px;
  }

  a {
    padding: 5px 0px;
  }
}
