<div class="home-page">
    <app-nav></app-nav>
    
   
        <section class="intro">
        
            <h1>
                Hi, I'm Frederick.
                <br>
                I'm a fullstack software engineer and 
                <br>
                cybersecurity enthusiast.
                <br>
                Fun fact about me:
                <br>
                I love seeing the sunset at the beach
            </h1>
        </section>
        <hr>
        <footer>
            <ul>
                <li><a href="https://www.linkedin.com/in/frederick-frimpong-arthur-958b4b121/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/papa-arthur" target="_blank">GitHub</a></li>
                <li><a routerLink="/resume">Resume</a></li>
            </ul>
        </footer>
</div>
