<div class="home-page">
    <app-nav></app-nav>
    <section class="intro">
        <h1>
            Hi, I'm Frederick.
            <br>
            I'm a fullstack software engineer and 
            <br>
            cybersecurity enthusiast.
            <br>
            Fun fact about me:
            <br>
            I love seeing the sunset at the beach
        </h1>
    </section>
    <hr>
    <footer>
        <ul>
            <li><a href="">LinkedIn</a></li>
            <li><a href="">GitHub</a></li>
            <li><a href="">Resume</a></li>
        </ul>
    </footer>

</div>
